.bay.rack {
  background-color: darkgray;
  color: white;
}

.bay.aisle {
  background-color: red;
  color: white;
}

.bay.dock {
  background-color: blue;
  color: white;
}

.bay.office {
  background-color: black;
  color: white;
}

.bay.open {
  background-color: gray;
  color: white;
}

.bay .company-name {
  margin-top: auto;
  font-size: 0.7em;
  color: #ddd;
}
#change-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 5px;
  width: 100%;
}

/* Edit/Delete Buttons */
#change-buttons button {
  padding: 5px;
  background-color: #42a5f5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 1;
}

#change-buttons button:hover {
  background-color: #1e88e5;
}

#change-buttons button:active {
  background-color: #0d47a1;
}