/* Employee Sections */
.employee {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.employeediv {
    flex: 1;
}

.employee h2 {
    margin-bottom: 10px;
}

.employeeimg {
    padding-top: 50px;
    width: 200px;
    height: auto;
}

@media screen and (max-width: 899px) {

.employee {
    flex-direction: column;
    text-align: center;
}

.employeediv {
    margin: 0;
}
}