/* General Box Styling */
.boxaround {
    border: 2px solid var(--main-nav-text-color);
    border-radius: 15px;
    padding: 20px; /* Reduced padding from 20px to 10px */
    background-color: var(--nav-background-color);
    width: 80%;
    margin: 20px auto;
}

/* Main Section */
main {
    padding: 30px;
    align-items: center;
}

main p {
    text-align: center;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

.employeeimg {
    width: 200px;
    height: auto;
}

/* Autopbox (Top Section) */
#autopbox {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 30px; /* Add padding to the bottom */
    padding-top: 50px;
}

#ourstafftopimg {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

/* Staff Description */
#autext {
    flex: 1;
    text-align: left;
    margin: 30px 0;
}

#autext h2 {
    text-align: center;
    margin-bottom: 20px;
}

#autext p {
    margin-top: 10px;
}

/* Employee Sections */
.employee {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.employeediv {
    flex: 1;
}

.employee h2 {
    margin-bottom: 10px;
}

/* Bottom Box (Contact Information) */
#aubottombox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-top: 70px;
}

#contacttext {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

#contactinfo {
    list-style: none;
    padding: 20px 0;
}

#contactinfo li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#contactinfo a {
    font-size: 22px;
    text-decoration: none;
    color: var(--main-nav-text-color);
    display: flex;
    align-items: center;
    gap: 15px;
}

#contactinfo li img {
    width: 30px;
    height: auto;
    margin-right: 12px;
}

/* Google Map */
#map {
    width: 100%;
    height: 500px;
}

/* Header */
header {
    width: 100%;
    background-color: var(--main-header-color);
    color: var(--main-background-color);
    text-align: center;
}

h1 {
    padding-bottom: 40px;
}

/* Responsive Design */
@media screen and (max-width: 899px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #autopbox, #aubottombox {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #autext {
        margin: 30px 50px;
    }
    
    #aubottombox {
        padding: 40px;
    }

    .employee {
        flex-direction: column;
        text-align: center;
    }

    .employeediv {
        margin: 0;
    }

    #contacttext {
        margin-right: 0;
    }

    #contactinfo li {
        justify-content: center;
    }

    #map {
        height: 300px;
    }
}