.rack { background-color: var(--main-rack-color); }
.aisle { background-color: var(--main-aisle-color); }
.dock { background-color: var(--main-dock);  color: white; }
.office { background-color: var(--main-office-color); color: white; }

@media screen and (min-width: 900px) {
    .section p {
        white-space: normal;
        word-wrap: break-word;
    }

    .warehouse p {
        margin-top: 2px;
    }
}


@media (max-width: 899px) {
    .warehouse {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 150px);
        justify-content: center;
        gap: 5px;
        padding: 5px;
        background-color: #ddd;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    
    .rack p {
        display: inline;
        margin-left: 5px;
    }
}